body {
  margin: 0;
  padding: 0;
  background-color: rgb(224, 235, 234);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  padding-top: 20px;
}

h1 {
    padding-top: 20%;
}


.main {
  width: 40%;
  margin: auto;
  margin-top: 100px;
  background-color: rgba(211, 248, 248, 0.6);
  border-radius: 20px;
  text-align: center;
  height: 370px;
}



input[type="text"],
input[type="email"] {
  border: 2px solid rgb(220, 235, 235);
  border-radius: 4px;
}

input[type="submit"] {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  width: 50%;
  margin: 20px;
  border-radius: 20px;
  background-color: white;
  border: none;
  color: grey;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

input[type="submit"]:hover {
  background-color: rgb(134, 196, 196);
  color: rgb(255, 255, 255);
  width: 70%;
}
